// Colors

$off-black: #20222b;
$off-white: #a5afd7;
$true-white: white;
$dark-blue: #333745;
$light-blue: #464b5e;
$blue: #3c4251;
$button-blue: #17076e;

$header-backgroud-color: $off-black;
$body-background-color: $dark-blue;
$transport-background: $light-blue;
$button-color: $button-blue;

$vertical-medium-padding: 1.6rem;
$horizontal-medium-padding: 1.6rem;

// font size

$h1-font-size: 2.2rem;

$medium-font-size: 2rem;
$large-font-size: 4rem;


